

.App {
  text-align: center;
  font-size: calc(10px + 5vmax);
  padding: 5%;
  max-width: 100vw;
  transform: translateY(10%);
}

.text {
  cursor: default;
  user-select: none;
}

.Info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Ubuntu";
  opacity: 100;
}

.uploadPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login, .uploadButton {
  height: 5vh;
  margin-top: 1%;
  border-radius: 10px;
  /* margin-right: 20%; */
  border: 0;
  font-size: calc(10px + 1vmax);
  width: 15vw;
  opacity: 0;
  transform: translateY(10%);
  font-family: "Ubuntu300";
  font-weight: 300;
  cursor: pointer;
}

.uploadStatus {
  margin-top: 3vh;
  font-size: calc(10px + 1vmax);
}

.uploadButton {
  height: 8vh;
  width: 30vw;
  opacity: 100;
  font-size: calc(10px + 1.25vmax);
  font-family: "Ubuntu";
}

html {
  background-image: linear-gradient(to bottom right, rgb(79 70 229), rgb(124 58 237));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 3.5vmax;
}

.userinfo {
  font-size: 2vmax;
  color: white;
  margin-top: 5%;
  opacity: 0;
}

.App-header {
  color: white;
  opacity: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.subtext {
  color: white;
  opacity: 0;
  font-size: calc(10px + 1.25vmax);
  margin-bottom: 0;
}

.App {
  transition: all 0.5s ease;
}

.App-header,
.login,
.subtext,
.userinfo {
  transition: all 0.5s ease;
}

.App-header.rise-up,
.login.button-animate,
.subtext.stanimate,
.userinfo.usanimate,
.startedbtn.button-animate {
  transform: translateY(-10vh);
  opacity: 100;
}

.login.button-animate {
  transition-delay: 0.3s; /* Adjust the delay value as needed */
}

.subtext.stanimate {
  transition-delay: 0.2s;
}