.App {
  text-align: center;
  font-size: calc(10px + 8vmin);
  padding: 5%
}

html {
  background-image: linear-gradient(to bottom right, rgb(79 70 229), rgb(124 58 237));
  height: 100vh;
}


.App-header {
  color: white;
}
